.blog-container {
  width: 46vw;
  margin: 0vw auto;
  padding: 0.6vw 1vw;
  background-color: #ffffff;
  box-shadow: 0 0.3vw 1.5vw rgba(0, 0, 0, 0.1);
  border-radius: 1vw;
  font-family: "Segoe UI", sans-serif;
  /* overflow: scroll; */
  /* height: fit-content; */
}

.blog_creation_page {
  display: flex;
  justify-content: center;
  height: 47.5vw;
  /* padding: 2vw; */
  border: 1px solid;
  background-color: #0b132a;

}

.blog_page_main_container {
  /* background-color: black; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4.35vw 50vw;
}

.blog-container::-webkit-scrollbar {
  display: none;
}

.blog-form {
  display: flex;
  flex-direction: column;
}

.blog-form h2 {
  margin-bottom: 0vw;
  font-size: 1.5vw;
  color: black;
  font-family: "Fredoka", sans-serif;
}

.blog-form label {
  margin-top: 1vw;
  margin-bottom: 0.4vw;
  font-weight: bold;
  font-size: 1.1vw;
  color: black;
  font-family: "Fredoka", sans-serif;
}

.blog-form input[type="text"],
.blog-form,
.blog-form textarea {
  padding: 0.57vw 1vw;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
  border-radius: 0.8vw;
  font-size: 1.2vw;
  outline: none;
  transition: border 0.3s ease;
  resize: none;
  font-family: "Fredoka", sans-serif;
  color: #262626;
  border: none;
  outline: none;
  width: 100%;
}

.blog-form input[type="text"]::placeholder,
.blog-form textarea::placeholder {
  font-size: 1vw;
}

.wrapper-class-1 .public-DraftEditorPlaceholder-root {
  font-size: 1vw;
}

.wrapper-class-1 {
  padding: 0.57vw 1vw;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
  border-radius: 0.8vw;
  font-size: 1.2vw;
  outline: none;
  transition: border 0.3s ease;
  resize: none;
  font-family: "Fredoka", sans-serif;
  color: #262626;
  border: none;
  outline: none;
  overflow: scroll;
  height: 10vw !important;
}

.wrapper-class-1::-webkit-scrollbar {
  display: none;
}

.wrapper-class .rdw-link-modal {
  width: 30vw;
  height: 20vw;
  padding: 1vw;
  background-color: white;
  border-radius: 1vw;
  box-shadow: 0 0.3vw 1.5vw rgba(0, 0, 0, 0.1);
}

.blog-form input[type="file"] {
  margin-top: 0.8vw;
  font-size: 1vw;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
}

.blog-form input:focus,
.blog-form textarea:focus {
  border: none;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
}

.preview-img {
  margin-top: 1vw;
  max-width: 100%;
  height: 10vw;
  border-radius: 0.8vw;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
}

.blog-form button {
  margin-top: 1vw;
  padding: 0.8vw;
  background-color: #03244d !important;

  color: aliceblue;
  font-family: "Fredoka", sans-serif;
  border: none;
  font-size: 1.1vw;
  border-radius: 0.8vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blog-form-group {
  display: flex;
  column-gap: 2vw;
}

.blog-form-group-input {
  width: 100%;
}

.wrapper-class-1 {
  padding: 5px;
  height: 100px;
  width: 98%;
}

.editor-class-1 {
  height: 100px;
  padding: 0;
  background-color: #fff;
  max-width: 21vw;
  overflow: scroll;
  font-size: 1vw;
}
.blog-form-group_1 {
  display: flex;
  flex-direction: column;
}

.editor-class-1::-webkit-scrollbar {
  display: none;
}
.editor-class-1,
.rdw-editor-main {
  height: 10px;
}
.editor-class-1,
.rdw-editor-main::-webkit-scrollbar {
  display: none;
}
.editor-class-1,
.public-DraftStyleDefault-ltr {
  margin: 0 0 !important;
  overflow: scroll;
}
.editor-class-1,
.public-DraftStyleDefault-ltr::-webkit-scrollbar {
  display: none;
}
.red_alter {
  font-size: 0.7vw;
  padding: 0.2vw 0 0 0;
  color: red;
}
.upload_container {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
  border-radius: 1vw;
}
.Upload_img_icon {
  font-size: 4vw;
  font-weight: bold;
}

@media (max-width: 768px) {
  .blog_creation_page {
    padding: 8vw 0 20vw 0;
    height: fit-content;
    border: none;
  }
  .blog-form {
    row-gap: 2vw;
  }
  .blog_page_main_container {
    height: 100vh;
    margin-top: 10vw;
  }
  .blog-container {
    margin: 4vh 4vw 1vh 4vw;
    padding: 3vw;
    width: 90vw;
    height: fit-content;
  }

  .blog-form h2 {
    font-size: 5vw;
  }

  .blog-form label,
  .blog-form input[type="text"],
  .blog-form textarea,
  .blog-form input[type="file"],
  .blog-form button {
    font-size: 4vw;
    margin-top: 0vw;
    padding: 1.8vw 1vw;
    resize: none;
    border-radius: 2vw;
  }

  .blog-form button {
    /* padding: 3vw; */
    font-size: 5vw;
    margin-top: 2vw;
  }
  .preview-img {
    height: 20vw;
    width: 100%;
  }

  .blog-form-group {
    display: flex;
    column-gap: 2vw;
    row-gap: 2vw;
    flex-direction: column;
  }

  .blog-form-group-input {
    width: 100%;
  }

  .wrapper-class-1 {
    padding: 5px;

    /* overflow: scroll; */
    width: 97%;
    height: 200px !important;
  }

  .public-DraftEditor-content {
    height: 152px !important;
    /* border: 1px solid red; */
    overflow: scroll;
  }

  .editor-class-1 {
    /* height: 200px !important; */
    padding: 0;
    background-color: #fff;
    max-width: 21vw;
    overflow: scroll;
    font-size: 6vw;
  }

  .editor-class-1::-webkit-scrollbar {
    display: none;
  }

  .editor-class-1,
  .rdw-editor-main::-webkit-scrollbar {
    display: none;
  }
  .editor-class-1,
  .public-DraftStyleDefault-ltr {
    margin: 0 0 !important;
    overflow: scroll;
    font-size: 4vw;
  }
  .editor-class-1,
  .public-DraftStyleDefault-ltr::-webkit-scrollbar {
    display: none;
  }
  .blog-form input[type="text"]::placeholder,
  .blog-form textarea::placeholder {
    font-size: 3vw;
  }

  .wrapper-class-1 .public-DraftEditorPlaceholder-root {
    font-size: 3vw;
  }
  .red_alter {
    font-size: 2.5vw;
    padding: 0.1vw 0 0 0;
    color: red;
  }
  .Upload_img_icon {
    font-size: 8vw;
    font-weight: bold;
  }
}
