.career_creation_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7vw 2vw 2vw 2vw;
  margin-top: 0vw;
  height: 100%;
  /* overflow: hidden; */
  background-color: #050038;
  /* color: white; */
}

.career_details_sub {
  width: 50vw;
  height: fit-content;
  padding: 1vw;
  background-color: white;
  border-radius: 1vw;
  box-shadow: 0 0.2vw 0.5vw #fff;
}

.career_creation_form {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  row-gap: 1vw;
  padding: 0 1vw;
}

.career_creation_form_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: start;
  width: 100%;
  column-gap: 2vw;
}

.input_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  width: 100%;
  row-gap: 0.2vw;
}

.career_labels {
  font-size: 1vw;
  width: 100%;
  font-weight: bold;
}

.career_input {
  padding: 0.7vw 1vw;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
  border-radius: 0.8vw;
  font-size: 1.2vw;
  outline: none;
  transition: border 0.3s ease;
  resize: none;
  font-family: "Fredoka", sans-serif;
  color: #262626;
  border: none;
  outline: none;
  width: 100%;
}

#Type,
#Category {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 1vw center;
  background-size: 2vw;
}

.career_input::placeholder,
.career_textarea::placeholder {
  font-size: 1vw;
}

.career_textarea,
.wrapper-class {
  padding: 0.5vw 1vw;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
  border-radius: 0.8vw;
  font-size: 1.2vw;
  outline: none;
  transition: border 0.3s ease;
  resize: none;
  font-family: "Fredoka", sans-serif;
  color: #262626;
  border: none;
  outline: none;
  width: 100%;
}

.career_creation_button_container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-top: 1vw;
  padding: 0 1vw;
  column-gap: 2vw;
}

.create_career_button,
.cancel_career_button {
  background-color: #7c5cfc;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 600;
  border: none;
  border-radius: 0.5vw;
  padding: 0.5vw 1.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wrapper-class {
  padding: 5px;
  height: 180px;
  width: 98%;
}

.editor-class {
  height: 140px;
  padding: 0;
  background-color: #fff;
  max-width: 21vw;
  overflow: scroll;
  font-size: 1vw;

}

.editor-class::-webkit-scrollbar {
  display: none;
}

.editor-class,
.public-DraftStyleDefault-ltr {
  margin: 0 0 !important;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .career_creation_container {
    padding: 2vw 2vw 2vw 2vw;
    margin-top: 13vw;
    height: fit-content;
  }

  .career_details_sub {
    width: 90vw;
  }

  .career_creation_form {
    justify-content: center;
  }

  .input_container {
    width: 100%;
  }

  .career_creation_form_container {
    flex-direction: column;
    row-gap: 1vw;
    width: 90%;
    /* border: 1px solid #ccc; */
  }

  .career_labels {
    font-size: 3.5vw;
  }

  .career_input,
  .career_textarea {
    font-size: 3.5vw;
    padding: 2vw 3vw;
  }

  .create_career_button,
  .cancel_career_button {
    font-size: 3.5vw;
    padding: 1.5vw 4vw;
  }

  .wrapper-class {
    height: 200px;
    font-size: 10vw;
  }

  .editor-class {
    height: 100px;
    padding: 0;
    background-color: #fff;
    max-width: 100vw;
    overflow: scroll;
    font-size: 3vw;
  }

  .career_input::placeholder,
  .career_textarea::placeholder {
    font-size: 3vw;
  }

  #Type,
  #Category {
    background-size: 7vw;
  }
}