/* ---------- MAIN WRAPPER ---------- */
.small-main-container {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  margin-top: 2vw;
}


/* ---------- CREATE BUTTON ALIGNMENT ---------- */
.sub-container-small {
  /* width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5vw; */
  margin-left: 80vw;
  margin-top: -3vw;
}

.sub-container-small button {
  /* padding: 0.7vw 1.4vw;
  font-size: 1.1vw;
  font-weight: 600;
  border: none;
  border-radius: 0.6vw;
  background-color: #7C5CFC;
  color: white;
  cursor: pointer;
  transition: 0.2s; */
}

/* .sub-container-small button:hover {
  background-color: #6a4ae0;
} */

/* ---------- CARD WRAPPER ---------- */
.small-card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

/* ---------- CARD ---------- */
.card-container {
  width: 22vw;
  background: white;
  padding: 1.2vw;
  border-radius: 1vw;
  border: 0.1vw solid #e5e5e5;
  box-shadow: 0 0.5vw 1.5vw rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.card-container:hover {
  transform: translateY(-0.5vw);
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.18);
}

/* ---------- CARD HEADER ---------- */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-title {
  font-size: 1.3vw;
  font-weight: 700;
  margin: 0;
}

.card-subtitle {
  font-size: 1vw;
  margin: 0.3vw 0 0 0;
  color: rgb(90, 90, 90);
}

/* ---------- CARD MENU ---------- */
.card-menu-wrapper {
  position: relative;
}

.card-menu-icon {
  font-size: 1.7vw;
  cursor: pointer;
  color: #555;
}

.card-dropdown-menu {
  position: absolute;
  right: 0;
  top: 2.3vw;
  width: 7vw;
  background-color: white;
  border: 0.1vw solid #ccc;
  border-radius: 0.5vw;
  box-shadow: 0 0.5vw 1.5vw rgba(0, 0, 0, 0.15);
  padding: 0.5vw 0;
  z-index: 50;
}

.dropdown-item {
  width: 100%;
  padding: 0.6vw 1vw;
  font-size: 1vw;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f2f2f2;
}

/* ---------- CONTENT BOX ---------- */
.card-content-box {
  background-color: #f4edff;
  padding: 1vw;
  border-radius: 0.8vw;
  font-size: 1vw;
  height: 10vw;
  overflow-y: auto;
  margin-top: 1vw;
}

.card-content-box::-webkit-scrollbar {
  display: none;
}

/* ---------- MOBILE ---------- */
@media screen and (max-width: 720px) {
  .small-main-container {
    margin-top: 10vw;
    padding: 4vw;
  }

  .sub-container-small button {
    padding: 3vw 5vw;
    font-size: 4vw;
    border-radius: 2vw;
  }

  .card-container {
    width: 90vw;
    padding: 5vw;
    border-radius: 4vw;
  }

  .card-title {
    font-size: 5vw;
  }

  .card-subtitle {
    font-size: 4vw;
  }

  .card-menu-icon {
    font-size: 7vw;
  }

  .card-dropdown-menu {
    width: 30vw;
    top: 8vw;
    border-radius: 2vw;
  }

  .dropdown-item {
    font-size: 4vw;
    padding: 3vw 4vw;
  }

  .card-content-box {
    height: 45vw;
    font-size: 4vw;
    border-radius: 3vw;
  }
}
