.career-bottom {
  width: 1438px;
  height: 391px;
  margin: 0 auto;
  position: relative;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 140px; /* pushes content a little down like your design */
}


/* DOT TRIANGLE (NO IMAGE) */
.dot-pattern {
  position: absolute;
  top: 40px;
  left: 60px;
  width: 183.86px;
  height: 132.6px;
  background-image: radial-gradient(#000 2px, transparent 2px);
  background-size: 14px 14px;
  mask-image: linear-gradient(135deg, #000 50%, transparent 50%);
   margin-left: -30px;
   padding-top: 200px;

}

/* TEXT BLOCK */
.career-bottom p {
  width: 1061px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin: 0;
  margin-left: -130px;
}


/* BUTTON */
.bottom-btn {
  margin-top: 20px;
  width: 153px;
  height: 55px;
  border-radius: 10px;
  border: none;
  background: #000;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  cursor: pointer;
   margin-left: -130px;
}

