
.ts-flex {
  padding: 70px 0 60px;
  background: #ffffff;
}


.ts-flex__inner {
  max-width: 768px;             
  margin: 0 auto;
  transform: translateX(-35px);  
  text-align: center;
}
.ts-flex__eyebrow {
  font-size: 16px;
  font-weight: 600;
  color: #002147;
  margin-bottom: 14px;
  font-weight: 500;
}

.ts-flex__title {
  font-size: 40px;              
  line-height: 62px;
  font-weight: 600;
  color: #020617;
  margin-bottom: 34px;
  font-style: SemiBold;
  font-family: Poppins;
}
.ts-flex__grid {
  display: grid;
  grid-template-columns: repeat(2, 373px); 
  gap: 22px;
  justify-content: center;
}

.ts-flex__card {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 20px 22px;
  border-radius: 16px;
  background: #ffffff;
  border: 1px solid #e4e4e7;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
  text-align: left;
}

.ts-flex__icon {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px solid #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 18px;
  position: relative;
}

.ts-flex__icon::before {
  content: "";
  width: 8px;
  height: 4px;
  border-left: 2px solid #2563eb;
  border-bottom: 2px solid #2563eb;
  transform: rotate(-45deg);
  margin-top: -1px;
}

.ts-flex__card h3 {
  font-size: 16px;
  font-weight: 700;
  color: #020617;
  margin-bottom: 6px;
}

.ts-flex__card p {
  font-size: 16px;
  line-height: 28px;
  color: #6b7280;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .ts-flex__inner {
    max-width: 100%;
    transform: none;
  }

  .ts-flex__grid {
    grid-template-columns: 1fr;
  }

  .ts-flex {
    padding: 40px 16px;
  }
}
.ts-flex__card {
  transition: transform 0.38s ease, box-shadow 0.38s ease;
}

.ts-flex__card:hover {
  transform: translateY(-3px) scale(1.015);
  box-shadow: 0 14px 35px rgba(15, 23, 42, 0.10);
}




